{
  "extends": [ "@borgar/eslint-config", "@borgar/eslint-config/jsdoc" ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false,
  },
  "rules": {
    "import/export": "error",
    "import/no-unresolved": "error",
    "no-mixed-operators": "off",
    "jsdoc/no-undefined-types": "off",
    "newline-per-chained-call": "off"
  },
  "globals": {
    "BigInt": true,
    "console": true,
    "Set": true,
    "require": true,
    "module": true,
  },
  "plugins": [
    "import"
  ]
}
