{
  extends: [ '@borgar/eslint-config' ],
  parserOptions: {
    ecmaVersion: 2020,
    sourceType: 'module',
  },
  rules: {
    'import/export': 'error',
    'import/no-unresolved': 'error'
  },
  globals: {
    console,
    Set,
    require,
    module
  },
  plugins: [
    'import'
  ]
}
